<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/misnomers.css">
    <script src="/static/misnomers.js"></script>
    <title >Misnomers</title>
</head>
<body>
    <h1>Misnomers</h1>
    <h2>A Character Name Generator</h2>
    <hr>
    <p> This site will generate unique names. Don't like what you see? Refresh the page!</p>
    <br>
    <div id="names">
        <p class="name" id="name0">Loading...</p>
        <p class="name" id="name1"></p>
        <p class="name" id="name2"></p>
        <p class="name" id="name3"></p>
        <p class="name" id="name4"></p>
    </div>
    <br>
    <h2>Quick Explaination:</h2>
    <p>
        As a project for HackKU 2021, we have created a neural network that uses a preexisting list of actual names to generate a completely new one.
        These may not be names to use for your next child, but they would be great for a video game character or
        tabletop RPG. Plus, who doesn't like silly, nonsensical names?
    </p>

    <div>
    <a id="source_code" href="https://github.com/alexacallmebaka/misnomers" download>View the source code!</a>
    </div>
</body>
</html>